{% extends "base.html" %}
{% block title %}New Question • MiniForum{% endblock %}

{% block content %}
<div class="card">
  <h2>New Question</h2>
  <form method="post" action="{{ url_for('new_question_post') }}">
    <label>Title</label>
    <input name="title" maxlength="140" />

    <label>Topic</label>
    <input name="topic" placeholder="campus, tech, housing..." />

    <label>Body</label>
    <textarea name="body" rows="8"></textarea>

    <button class="btn" type="submit">Post</button>
  </form>
</div>
{% endblock %}
